# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .vs files
.vs/
trie/.vs/
.DS_Store
*.vsidx
*.db
*.json
*.ipch
*.sln
*.tlog
*.pdb
*.idb
*.log
*.user
*.filters
*.vcxproj
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
weirdmultilingualdictionary.code-workspace
.vscode/launch.json
.vscode/tasks.json
Makefile
*.json
x64
.vs

bin/main
bin/main.dSYM/Contents/Info.plist
bin/main.dSYM/Contents/Resources/DWARF/main
bin/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
note.txt
build.bat
dict/dict/main.cpp
dict/dict.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
dict/dict.xcodeproj/project.xcworkspace/contents.xcworkspacedata
dict/dict.xcodeproj/project.pbxproj

Project1/include/SFML/



main
bin/Dictionary.dSYM/Contents/Resources/Relocations/aarch64/Dictionary.yml
bin/Dictionary.dSYM/Contents/Resources/DWARF/Dictionary
bin/Dictionary.dSYM/Contents/Info.plist
bin/Dictionary
Project1/

bin/Dictionary
bin/Dictionary.dSYM/Contents/Info.plist
bin/Dictionary.dSYM/Contents/Resources/DWARF/Dictionary
bin/Dictionary.dSYM/Contents/Resources/Relocations/aarch64/Dictionary.yml
